* {
    margin: 0;
    padding: 0;
}

:root {
    color: Dark-Grayish-Magenta(hsl(303, 10%, 53%));
    color: Light-Grayish-Magenta(hsl(300, 24%, 96%));
    color: White(hsl(0, 0%, 100%));
    color: Soft-Pink(hsl(333, 80%, 67%));
    color: Very-Dark-Magenta(hsl(300, 43%, 22%));
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(https://gitlab.com/mountblue/js/social-proof-html-css/raw/master/images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
}

.main {
    max-width: 80%;
    margin: 0 auto;
    height: 100%;
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;
}

.head {
    font-size: 4rem;
    font-weight: 500;
    color: hsl(300, 43%, 22%);
    margin-bottom: 1rem;

}

.sub-head {
    font-weight: 400;
    color: hsl(303, 10%, 53%);
    font-size: 1.2rem;
    line-height: 1.8rem;

}


.customer-rating {
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(300, 24%, 96%);
    padding: 0.7rem 1.5rem;
    margin-bottom: 1rem;
    color: hsl(300, 43%, 22%);
    border-radius: 10px;
    align-items: center;
    font-size: 0.9rem;
}

.star-img {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
}

.rating1{
    margin-right: 4rem;
}
.rating2 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


.rating3 {
    margin-left: 3.5rem;
}

.star {
    padding: 0.2rem;
}

.bottom {
    margin-top: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.review-card1, .review-card2, .review-card3 {
    width: 28%;
    height: 20vh;
    background-color: hsl(300, 43%, 22%);
    margin-right: 1.5rem;
    padding: 20px 15px;
    border-radius: 8px;
    color: white;
    /* display: flex; */
    /* flex-direction: column; */
}

.buyer-details {
    display: flex;
    align-items: center;
}

.buyer-details img {
    width: 50px;
    height: auto;
    border-radius: 100px;
    margin-right: 1rem;
}

.name{
    font-size: 1rem;
    color: white;
    margin-bottom: 3px;
}

.verification{
    font-size: 0.9rem;
    color: hsl(303, 10%, 53%);
}

.reveiw p{
    font-size: 0.9rem;
    line-height: 1.5rem;
    /* font-weight: 500; */
    margin-top: 10px;
    margin-bottom: 1px;
    
}

.review-card2{
    margin-top: 1rem;
}

.review-card3{
    margin-top: 2rem;

}

.bottom{
    background-image: url(https://gitlab.com/mountblue/js/social-proof-html-css/raw/master/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
}


@media(max-width: 600px) {

    .body {
        background-image: url(https://gitlab.com/mountblue/js/social-proof-html-css/-/raw/master/images/bg-pattern-top-mobile.svg);
        background-repeat: no-repeat;
    }
    .top{
        margin-top: 50px;
    }
    .main {
     
        font-size: 15px;
        font-family: 'League Spartan', sans-serif;
        font-weight: 400;

    }

    .head {
        /* display: flex; */
        font-size: 2.5rem;
        font-weight: 500;
        /* justify-content: center; */
        color: hsl(300, 43%, 22%);
        text-align: center;
        margin-top: 1rem;
    }

    .sub-head {
        font-weight: 400;
        color: hsl(303, 10%, 53%);
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.2rem;

    }

    .rating1, .rating2, .rating3 {
        background-color: hsl(300, 24%, 96%);
        border-radius: 10px;
        margin: 1rem;
        display: flex; 
        flex-direction: column;
        justify-content: center;
    }

    .star-img {
        margin: 1rem;
        display: flex;
        justify-content: center;
    }

    .review-card1, .review-card2, .review-card3 {
        width: 100%;
        background-color: hsl(300, 43%, 22%);
        margin: .5rem;
        border-radius: 10px;
        color: hsl(0, 0%, 100%);
        padding: 2rem;
    }
    .customer-rating{
        justify-content: center;
    }
    .cards{
        justify-content: center;
        flex-wrap: wrap;
        margin: 0px;
    }

    .bottom{
        margin-top: 0 ;
        margin-bottom: 1rem;
    }

    .rating{
        font-size: 1rem;
    }

}